<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item,index) in list">
                {{index}}:{{item}}
            </li>
        </ul>

        <ul>
            <li v-for="(val,key,index) in obj">
                {{index}}:{{key}}:{{val}}
            </li>
        </ul>
    </div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            list:["吃饭","睡觉","玩晓飞","弄天禹","搞啊强","玩老刘"],
            obj:{
                name:"达姆",
                age:18,
                wife:"周冬雨",
                son:"思聪"
            }
        }
    })
</script>
</html>